<div class="container short-page-container py-2">
  <div class="jumbotron bg bg-create">
    <h1 class="text-center mt-2 display-5 title">Create an Article</h1>
    <%= render 'shared/errors' %>
    <%= render 'form' %>
  </div>
</div>
