<div class="container home-about-container">
  <div class="jumbotron text-center" id="jumbotron-about">
    <h1 class="display-4">About Us</h1>
    <br/>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex delectus itaque eius suscipit. Praesentium sed obcaecati ab! Voluptates, harum, illo officiis repellendus fugit ullam provident incidunt aliquam voluptatum libero mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eaque, expedita suscipit hic, eos fugiat est facere ut, nam ullam odio nobis doloremque voluptatem quo nostrum libero praesentium iste? Cupiditate. Suscipit nulla facere veritatis commodi at perspiciatis corporis!</p>
    <br/>
    <a class="btn btn-lg btn-green" href="#" role="button">Sign Up</a>
    <a class="btn btn-lg btn-green" href="#" role="button">Log In</a>
  </div>
</div>
