<div class="container short-page-container">
  <div class="jumbotron text-center" id="jumbotron-home">
    <h1 class="display-4">Celebrate Lovely!</h1>
    <br/>
    <p class="lead text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus enim nihil voluptates recusandae voluptatem ad, unde commodi at perspiciatis corporis!</p>
    <br/>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nulla facere veritatis vel.</p>
    <br/>
    <a class="btn btn-lg btn-green" href="#" role="button">Sign Up</a>
    <a class="btn btn-lg btn-green" href="#" role="button">Log In</a>
  </div>
</div>
