<div class="jumbotron text-center col-10" id="jumbotron-home">
  <%= render 'layouts/msgs' %>
  <h1 class="display-4 title">Celebrate Lovely!</h1>
  <br/>
  <p class="lead text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus enim nihil voluptates recusandae voluptatem ad, unde commodi at perspiciatis!</p>
  <br/>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit.</p>
  <br/>
  <%= render "layouts/signup_login" %>
</div>
