@import 'bootstrap/dist/css/bootstrap';

html, body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  background-color: #e6e0ee;
}

h1 {
  font-family: cursive;
}

h3 {
  font-family: cursive;
}

.navbar, footer {
  background-color: rgb(196, 186, 250) !important;
}

.link-to-lg {
  color: rgb(80, 60, 245);
  font-family: cursive;
  font-size: 1.75em;
}

.link-to-sm {
  color: rgb(80, 60, 245);
}

.link-to-lg:hover, .link-to-sm:hover {
  color: rgba(90, 70, 255, 0.75);
  text-decoration-line: none;
}

.btn {
  background-color: rgb(2, 133, 30);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  width: 105px;
}

.btn:hover {
  background-color: rgb(3, 177, 41);
  color: white;
}

.btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  background-color: rgb(3, 177, 41);
  color: white;
}

.btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus {
  background-color: rgb(3, 177, 41);
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(3, 177, 41, 0.5);
}

nav .btn {
  background-color: rgba(80, 60, 245, 0.75);
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
}

nav .btn:hover {
  background-color: rgba(80, 60, 245, 0.5);
  color: white;
}

nav .btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  background-color: rgba(80, 60, 245, 0.5);
  color: white;
}

nav .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus {
  background-color: rgba(80, 60, 245, 0.5);
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(80, 60, 245, 0.25);
}

#home-container {
  margin-top: 25px;
  color: #fff;
}

.jumbotron {
  border-radius: 10px;
}

#jumbo-home {
  background-image: asset-url('jumbo-home.jpg');
  background-size: cover;
  opacity: 0.9;
  height: 425px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

input.form-control {
  background-color: #e6e0ee;
  border-radius: 6px;
}

.article-box {
  border-radius: 10px;
  background-image: asset-url('card-index.jpg');
  background-size: cover;
  background-position: bottom;
  opacity: 0.8;
  border-bottom: solid 1px darkgray;

}

.card-header {
  background-color: transparent;
  border-style: none;
}

.card-body {
  background-color: white;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-left: 65px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.card-body p {
  text-align: left !important;
}

.card-footer {
  background-color: transparent;
  border-style: none;
}

.card-footer a {
  color: rgb(90, 70, 255) !important;
}
