<%= render 'layouts/msgs' %>
<div class="card card-articles text-center mt-3 mb-4">
  <div class="card-header pb-2 pt-3">
    <%= edit_button %>
    <%= delete_button %>
    <h1 class= "title mb-1"><%= @category.name %></h1>
  </div>
</div>
