<% if !logged_in? %>
  <div class="jumbotron text-center col-10 mt-3 mb-3" id="jumbotron-home">
    <h1 class="display-4 title">Enjoy More Lovely!</h1>
    <br/>
    <p class="lead text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <br/>
    <%= render "layouts/signup_login" %>
  </div>
<% end %>